<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/index.css">
        <title>Lil B Library</title>
    </head>
    <body>
        <div id="header">
            Lil B Library
        </div>
        <div id="contentWindow">
            <div id="sidebar">
                <button class="sidebarButton">Browse</button>
                <button class="sidebarButton">Search song</button>
                <button class="sidebarButton">Search Lyric</button>
            </div>
            <div id="appWindow">
                <div id="searchContainer">
                    <input type="text" id="searchbar">
                    <button id="searchButton">Search</button>
                </div>
                <div id="displayContainer">
                    <p>
                        {% for song in songs %}
                            {% include 'songItem.html' %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <!---div id="bottomBanner">
            <img src="/static/images/lilBRedAndPurple.jpeg" alt="lil b">
            <img src="/static/images/lilBRedAndPurple.jpeg" alt="lil b">
            <img src="/static/images/lilBRedAndPurple.jpeg" alt="lil b">
        </div--->
    </body>
    <footer id="footer">
        <div id="footerText">Created by Nate Watson</div>
    </footer>
</html>