#songContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #9db8e2;
    width: 100%;
    height: 20%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}