<h1>Search results for {{query}}:</h1>
{{#if results}}
    <ul>
    {{#each results}}
        <li>
            <div class="songContainer" id="result-{{@index}}">
                {{> songPartial song=this}}
            </div>
        </li>
    {{/each}}
    </ul>
{{else}}
    <p>No results found.</p>
{{/if}}