<div class="songContainer">
    <div class="albumImage">
        
    </div>
    <div class="songDetails">
        <h3 class="songTitle">{{song.title}}</h3>
        <p class="snippet">{{song.snippet}}</p>
    </div>
</div>